@charset "utf-8";

body {
    font-family: Arial, Helvetica, "微軟正黑體"sans-serif;
}

img {
    vertical-align: bottom;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* .header-foot .header-btn-xmark{
    display: none;
} */

.header-btn-xmark{display: none;}----


.header-head, .header-body, .header-foot {
    padding: 0.5rem 1rem;
}

.header-head {
    width: 80px;
}

/* .header-foot .header-btn-Xmark {
    display: none; */


.header-img {
    max-width: 100%;
    height: auto;
}

.header-ul {
    padding: .5rem 1rem;
    display: flex;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 30px;
}

.header-li {
    margin-left: 1rem;
    margin-right: 1rem;
}

.header-link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 600;
    text-decoration: .3s;
}

.header-li:hover {
    color: #cf688c;
}